.head{
	min-height: 150px;
	background-color: blue;
	border: 3px solid white;
	text-align: center;
	
}
.wrap{
	overflow: hidden;
	


}
.blog{

	min-height: 300px;
	background-color: red;
	width: 32.7%;
	float: left;
	border: 3px solid white;
	text-align: center;


}

.footer{
	min-height: 150px;
	background-color:green;
	border: 3px solid white;
	text-align: center;
	


}


